<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Stationery Shop</title>
  {% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#" style="color: #FD7E14;">Craft Studio</a>
      <div class="d-flex ms-auto">
        <a href="#" class="btn btn-orange me-2">Admin</a>
      </div>
    </div>
</nav>
<section class="hero-section">
  <div class="container">
    <h1 class="display-4 fw-bold" style="color:#FD7E14;">Welcome to Craft Studio</h1>
    <p class="lead mt-3 mb-4" style="max-width:600px; margin:auto;">
      Get the best quality pens, pencils, notebooks, art supplies and much more!  
      Your one-stop shop for all stationery needs for school, college, and office.
    </p>
    <img src="{% static 'image/stationary.png' %}" alt="Profile Picture">
  </div>
  <div class="buttons">
    <a href="{% url 'signup' %}">
        <button>Signup</button>
    </a>
    <a href="{% url 'login' %}">
        <button>Login</button>
    </a>
</div>
</section>
<footer class="bg-orange text-white text-center py-3 mt-auto">
    <div class="container">
      <p class="mb-2">© 2025 Stationery Shop</p>
      <div>
        <a href="#" class="text-white me-3">
          <i class="bi bi-facebook" style="font-size: 22px;"></i>
        </a>
        <a href="#" class="text-white me-3">
          <i class="bi bi-instagram" style="font-size: 22px;"></i>
        </a>
        <a href="#" class="text-white">
          <i class="bi bi-twitter" style="font-size: 22px;"></i>
        </a>
      </div>
    </div>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
